.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/

.venv/
.venv-airflow/
venv/
env/

.idea/
artifacts/
data/

airflow/*.db
airflow/airflow.cfg
airflow/logs/
airflow/pid/
airflow/webserver_config.py
